.contenedor-noti {
    padding: 0.5rem;
    border: 0.1rem solid $Verde-White;
    margin: 0.9rem;
    background-color: #fff;
    .text-noticia {
        font-size: 13px;
        text-align: justify;
        letter-spacing: 2px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .titular {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 15px;
        letter-spacing: 5px;
        font-weight: lighter;
        color: $Verde-Dark;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 2px double $Verde-Black;
    }
    .fecha {
        background-color: $Verde-White;
        font-size: 13px;
        letter-spacing: 3px;
    }
}