.texto-negocio {
    font-size: 1rem;
    color: #132325;
    .categoria-negocio {
        font-size: 1.1rem;
        color: #778d87;
    }
    .nombre-negocio {
        font-size: 2.3rem;
    }
    .datos-pagos {
        margin: .7rem;
        font-size: 1.4rem;
        color: #02c479;
    }
    .horario {
        color: #145343;
        font-size: 1.3rem;
    }
}