.footer {
    background-color: $Verde-White;
}

.news {
    box-shadow: 2px solid $Verde-Dark;
    align-self: center;
    .titulo-news {
        margin: .3rem;
        text-align: left;
        font-size: 1.2rem;
    }
    .form-news {
        text-align: left;
        .campo {
            background-color: rgb(232, 243, 238);
            box-sizing: border-box;
            border-radius: 5px;
            width: 80%;
            padding: .3rem;
            margin: .5rem;
        }
        .btn-outline-success {
            padding: .3rem;
            margin-left: .5rem;
            width: 80%;
        }
    }
    p {
        text-align: left;
    }
}

.categorias {
    margin-top: 2rem;
    @media screen and (max-width: 700px) {
        align-items: center;
        text-align: center;
    }
    .titulo-news {
        margin: .3rem;
        text-align: left;
        font-size: 1.2rem;
    }
    ul li {
        text-align: left;
        @media screen and (max-width: 500px) {
            text-align: center;
        }
        a {
            font-size: .9rem;
            opacity: .8;
            color: $Verde-Dark;
            text-decoration: none;
            transition: 1s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.contacto {
    margin-top: 2rem;
    flex-direction: column;
    text-align: left;
    font-size: .7rem;
    @media screen and (max-width: 1200px) {
        text-align: center;
        margin-top: 0;
    }
    .titulo-news {
        margin: .3rem;
        font-size: 1.2rem;
    }
}

.btn-whatsapp {
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

.derechos {
    background-color: rgb(59, 212, 166);
    border-radius: 10% 30% 50% 70%;
    color: black;
    padding-top: 0.1rem;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    h3 {
        font-size: 1rem;
    }
}