    .contenedor-header {
        background-color: #fff;
        .navbar {
            padding: 0;
        }
        .noti-header {
            background-color: $Fuxia;
            font-size: 0.8rem;
            text-align: center;
            letter-spacing: .2rem;
            border-bottom: solid 2px $Verde-Logo;
            p {
                margin: 0;
            }
        }
        .bg-verde {
            background-image: linear-gradient(to right top, #25aa87, #25ba95, #23caa2, #20dbb1, #1becbf);
            color: $Verde-Logo;
        }
        ul li a {
            text-decoration: none;
            color: rgb(228, 227, 227);
            transition: 1s;
            &:hover {
                text-decoration: none;
                color: rgb(245, 63, 252);
                border-bottom: 2px solid #fff;
            }
        }
    }