    .contenedor-header {
        background-color: #fff;
        .navbar {
            padding: 0;
        }
        .noti-header {
            background-color: $Fuxia;
            font-size: 0.8rem;
            text-align: center;
            letter-spacing: .2rem;
            border-bottom: solid 2px $Verde-Logo;
            p {
                margin: 0;
            }
        }
        .bg-verde {
            background-color: $Verde-Logo;
            color: $Verde-Logo;
        }
        ul li a {
            text-decoration: none;
            color: #fff;
            transition: 2s;
            &:hover {
                text-decoration: none;
                color: rgb(238, 146, 241);
                border-bottom: 2px solid #fff;
            }
        }
    }