   @import "import";
   /*Globales - Reseteo */
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       list-style: none;
   }
   
   img {
       max-width: 100%;
       padding: 0.5rem;
   }
   
   body {
       font-family: 'Open Sans', sans-serif;
       background-color: #fff;
   }
   
   // Mixin
   @mixin img-principal {
       margin: 1rem .3rem;
       background-position: bottom;
       height: 28rem;
       background-size: cover;
       color: #fff;
       min-width: 95%;
       border-bottom: solid 2px $Verde-Logo;
       .texto {
           letter-spacing: .1rem;
           text-shadow: 3px 3px 5px $Verde-Black;
           .titulo {
               float: right;
               margin: 2.5rem;
               font-size: 3rem;
               border-bottom: 3px solid $Fuxia;
               letter-spacing: .3rem;
               @media screen and (max-width: 900px) {
                   font-size: 2rem;
               }
           }
           h3 {
               font-size: 2.7rem;
               margin: 2rem;
               letter-spacing: .2rem;
               @media screen and (max-width: 900px) {
                   font-size: 1.7rem;
                   margin: 2rem;
               }
           }
           p {
               margin: 1rem;
           }
       }
   }
   
   .principal {
       background-image: linear-gradient( rgba(30, 250, 203, 0.3), rgba(238, 12, 219, 0.2)), url("../img/fondo.jpg");
       @include img-principal;
   }
   
   .noticias {
       background-image: linear-gradient( rgba(30, 250, 203, 0.3), rgba(238, 12, 219, 0.2)), url("../img/tdsa.jpg");
       @include img-principal;
   }
   
   .negocios {
       background-image: linear-gradient( rgba(30, 250, 203, 0.3), rgba(238, 12, 219, 0.2)), url("../img/negocios/negocios2.jpg");
       @include img-principal;
       background-position: center center;
   }
   
   .img-blog {
       @include img-principal;
       background-image: linear-gradient( rgba(30, 250, 203, 0.3), rgba(238, 12, 219, 0.3)), url("../img/blog.jpg");
   }
   
   .fondo-tarjetas {
       background-color: #fff;
       padding: .1rem;
       align-items: center;
       .card-body {
           text-align: left;
           @media only screen and (max-width: 768px) {
               text-align: justify;
               padding: 1rem;
           }
           &:hover .masinfo {
               opacity: 1;
               transition: 1s;
               @media only screen and (max-width: 768px) {
                   text-align: center;
                   align-items: center;
                   ;
               }
           }
       }
       .tarjeta-negocio {
           box-shadow: 0 0 0.2em rgba(0, 0, 0, .2);
           cursor: pointer;
           transition: .3s;
           @media only screen and (max-width: 760px) {
               width: 20rem;
           }
           @media screen and (max-width: 992px) {}
           &:hover {
               box-shadow: 0 0 1.2em rgba(0, 0, 0, .2);
           }
           img {
               width: 16rem;
               @media only screen and (max-width: 760px) {
                   margin-left: 2rem;
               }
           }
       }
       a {
           text-decoration: none;
           color: $Verde-Black;
       }
       .masinfo {
           opacity: 0;
           transition: .5s;
       }
   }
   /* Card */
   
   .novedades {
       box-shadow: 0px 0px 1px 1px $Verde-Logo;
       justify-content: center;
       border-radius: 1rem;
       text-align: justify;
       padding: 1.5rem;
       margin: 1.5rem;
       align-items: center;
       h2 {
           color: $Verde-Logo;
           text-align: center;
       }
       .card a {
           color: $Verde-Logo;
           float: right;
           border: 2px solid $Verde-Logo;
           border-radius: 25px;
           text-transform: uppercase;
           padding: .5rem;
           &:hover {
               border: 2px solid $Fuxia;
           }
       }
   }
   
   .info-iconos {
       justify-content: space-around;
       .card {
           border: none;
       }
   }